:root{
    --left-margin: 8px;
    --right-margin: 8px;
    --padding-top: 4.4rem;
    --width-button: 95px;
    --height-button: 150px;
    }

.buttonNavPizza{

    background: #FFFFFF;
    background-image: url('/src/img/Pizza.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position-y: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-left:var(--left-margin);
    margin-right:var(--right-margin);


    border: none;
    text-decoration:none;
    width:var(--width-button);
    height: var(--height-button);

}
.title{
    position:relative;
    top: 40px;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;


color: #5171A5;

}

.buttonNavPostre{
   
    background: #FFFFFF;
    background-image: url('../img/Postres.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position-y: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-left:var(--left-margin);
    margin-right:var(--right-margin);


    border: none;
    text-decoration:none;
    width:var(--width-button);
    height: var(--height-button);
}
.buttonNavPostre span{
    position:relative;
    top: 40px;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #5171A5;
}
.buttonNavBebidas{
     
    background: #FFFFFF;
    background-image: url('../img/Icono\ Bebida.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position-y: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-left:var(--left-margin);
    margin-right:var(--right-margin);


    border: none;
    text-decoration:none;
    width:var(--width-button);
    height: var(--height-button);
}
.buttonNavBebidas span{
    position:relative;
    top: 40px;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #5171A5;
}

.buttonNavEmpanada{
    background: #FFFFFF;
    background-image: url('../img/Empanadas.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position-y: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-left:var(--left-margin);
    margin-right:var(--right-margin);


    border: none;
    text-decoration:none;
    width:var(--width-button);
    height: var(--height-button);
}
.buttonNavEmpanada span{
    position:relative;
    top: 40px;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 550;
    font-size: 17px;
    color: #5171A5;
}
